@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.App {
    border-style:dashed;
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caprasimo', cursive;
    font-weight: 500;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}